<!DOCTYPE html>
<html>
<head>
  <!-- <title>The Ginger Monk</title> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/vendor/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Eagle+Lake|Ruthie|Fondamento' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>


    <header>
      <img src="images/monkLogo.png" class="monkLogo">
      <h1><span style="font-family: 'Eagle Lake', cursive;">The Ginger </span><span style="font-family: 'Ruthie', cursive; font-size: 32px;">Monk<span></h1>
      <div class="socialMedia">
        <ul>Follow Us!</ul>
        <li><a href='https://www.facebook.com/'><img src='images/noun_40254_cc.svg' class= "facebook"></a></li>
        <li><a href='https://twitter.com/'><img src='images/noun_20940.svg' class="twitter"></a></li>
        <li><a href='https://instagram.com/'><img src='images/noun_38846_cc.svg' class= "instagram"></a></li>
      </div>
    </header>

    <div class="jumbotron"></div>

  <div class="bodyContainer">

    <section class="info">
      <article class="box latestNews">
        <h3>Latest News</h3>

        <div id="newsContainer"></div>
          <script type="text/template" id="news">
            <h4><b><%= title %></h4></b> <h5><b><%= date_published %></h5></b>
            <p class="newsPost"> <%= post %></p>
          </script>
          <p class="readmore">Read More ▾</p>
      </article>

      <article class="box todaysSpecial">
        <h3>Today's Special</h3>

        <div id="dailySpecPic"></div>

        <div id="dailySpecContainer"></div>

      </article>

      <article class="box ourLocation">
        <h3>Our Location</h3>

        <iframe
          width="280"
          height="100"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6kZ0g05c2rxrR7MkAufFZbRCxBYOBfjs
          &q=The+Iron+Yard+Atlanta+GA
          &attribution_source=Google+Maps+Embed+API
          &attribution_ios_deep_link_id=comgooglemaps://?daddr=The+Iron+Yard+Atlanta+GA">
        </iframe>

        <p id="streetaddress">115 M.L.K. Jr Dr NW, Atlanta, GA 30303</p>
        <ul>
          <li><p id="phone">404-123-4567</p></li>
          <li><a href="https://www.google.com/maps/place/115+Martin+Luther+King+Junior+Drive+Northwest,+Atlanta,+GA+30303">Map</a></li>
          <li><a href="https://www.google.com/maps/dir/Current+Location/115+Martin+Luther+King+Junior+Drive+Northwest,+Atlanta,+GA+30303">Directions</a></li>
        </ul>
      </article>
    </section>

    <main class="menus">
      <div class="buttonRow">
        <button class="menuButton" id="storyBtn">Our Story</button>
        <button class="menuButton activeButton" id="menuBtn">Menu</button>
        <button class="menuButton" id="reserveBtn">Reservations</button>
      </div>
      <div id="reservation" class="menuSection hideMenu">
        <form id="reservationForm">
          <p>Full Name</p><input type="text" id="fullName" placeholder="Ex: John Smith">
          <p>Number Of Guests</p><input type="text" id="numGuests" placeholder="Ex: 5">
          <p>Date</p><input type="date">
          <p>Special Notes</p><textarea cols="50" rows="5"></textarea>
          <select>
            <option>Indoors</option>
            <option>Outdoors</option>
          </select>
          <input type="submit" value="Reserve Table" id="reserveTable">
        </form>
      </div>

      <div id="story" class="menuSection hideMenu">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum deleniti aliquam, minus sapiente quibusdam dicta, dignissimos doloribus beatae recusandae cum natus soluta eligendi nam veritatis officiis. Nisi magni, quod velit.lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum deleniti aliquam, minus sapiente quibusdam dicta, dignissimos doloribus beatae recusandae cum natus soluta eligendi nam veritatis officiis. Nisi magni, quod velit.lorem</p>
        <img src="http://lorempixel.com/g/600/200/" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum deleniti aliquam, minus sapiente quibusdam dicta, dignissimos doloribus beatae recusandae cum natus soluta eligendi nam veritatis officiis. Nisi magni, quod velit.lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum deleniti aliquam, minus sapiente quibusdam dicta, dignissimos doloribus beatae recusandae cum natus soluta eligendi nam veritatis officiis. Nisi magni, quod velit.lorem</p>
      </div>

      <div id="menu" class="menuSection">

        <script type="text/template" id="menuContainerData">
          <div class="menuContainer">
            <h3 class="menuTitle"> <%= title.toUpperCase()%> </h3>
            <ul class="menuList"></ul>
          </div>
        </script>

        <script type="text/template" id="menuData">
          <li>
            <div class="itemBorder">
              <p class="item"><%= item %></p>
              <p class="price">$<%= price %></p>
            </div>
            <div class="itemInfoContainer">
              <p class="description"><%= description %></p>
              <ul class="itemInfoRow">
                <li class="itemInfo allergies"> <%= allergies %> </li>
                <li class="itemInfo favorite"> <%= favorite %> </li>
                <li class="itemInfo spicy"> <%= spicy %> </li>
                <li class="itemInfo vegan"> <%= vegan %> </li>
              <ul>
            </div>
          </li>
        </script>

      </div>
    </main>

    <aside class="foodPics">

      <ul id="foodContainer"></ul>

    </aside>

  </div>

  <footer>
    <div class="footerContainer">
      <p>&copy; 2015</p>
    </div>
  </footer>


  <script src="scripts/vendor/jquery.min.js"></script>
  <script src="scripts/vendor/underscore.min.js"></script>
  <script src="scripts/info.js"></script>
  <script src="scripts/menu.js"></script>
  <script src="scripts/main.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>

</body>
</html>
