@font-face {font-family:"Monk Gothic";src:url("../fonts/Monk-Gothic.eot?") format("eot"),url("../fonts/Monk-Gothic.woff") format("woff"),url("../fonts/Monk-Gothic.ttf") format("truetype"),url("../fonts/Monk-Gothic.svg#Monk-Gothic") format("svg");font-weight:normal;font-style:normal;}

/************
Variables
*************/

$orange: #f06322;
$tan: #EFEFEB;
$gray: #888888;
$white: #FFFFFF;


.monkLogo {
  width: 72px;
  margin: 10px 10px 0 10px;
}

h1 {
  display: inline-block;
  margin: 10px;
  font-size: 40px;
  vertical-align: middle;
  margin-top: -50px;
}

#monk {
  color: $orange;
  font-family: "Monk Gothic";
  font-size: 60px;
  text-shadow: 1px 1px 0 black;
}

li {
  list-style: none;

  a:visited {
    color: black;
  }
}

.socialMedia {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  float: right;

  ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 8px;
  }

  li {
    float: left;
    padding-left: 10px;
  }
}

.facebook {
  width: 40px;
  height: 40px;
}

.twitter {
  @extend .facebook
}

.instagram {
  @extend .facebook
}

.jumbotron {
  background-image: url(../images/jumbo.jpg);
  background-size: auto 650px;
  background-position: top center;
  height: 600px;
  width: 100%;
}