header {
  border-bottom: 1px solid black;
}

.monkLogo {
  width: 150px;
}

h1 {
  display: inline-block;
}

li {
  list-style: none;
}

.socialMedia {
  display: inline-block;
  text-align: center;
  float: right;
}

.socialMedia li {
  float: left;
}

.facebook {
  width: 20px;
  height: 20px;
}

.twitter {
  width: 20px;
  height: 20px;
}

.instagram {
  width: 20px;
  height: 20px;
}

