@font-face {font-family:"Monk Gothic";src:url("../fonts/Monk-Gothic.eot?") format("eot"),url("../fonts/Monk-Gothic.woff") format("woff"),url("../fonts/Monk-Gothic.ttf") format("truetype"),url("../fonts/Monk-Gothic.svg#Monk-Gothic") format("svg");font-weight:normal;font-style:normal;}

.monkLogo {
  width: 100px;
  margin: 10px 10px 0 10px;
}

h1 {
  display: inline-block;
  margin: 10px;
  font-family: "Monk Gothic";
}

li {
  list-style: none;

  a:visited {
    color: black;
  }
}

.socialMedia {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-right: 10px;
  float: right;

  ul {
    padding: 0;
  }

  li {
    float: left;
    padding-left: 10px;
  }
}

.facebook {
  width: 40px;
  height: 40px;
}

.twitter {
  @extend .facebook
}

.instagram {
  @extend .facebook
}

.jumbotron {
  background-image: url(../images/jumbo.jpg);
  background-size: cover;
  height: 600px;
  width: 100%;
}

.jumbotron img {
  display: block;
  width: 100%;
  margin: 10px auto
}
