.box {
  @include span-columns(4);
  border: 1px solid gray;
  background-color: light gray;
  padding: 11px;
}




.box1 h3 {
   border-bottom: 1px solid gray;
}

.box2 h3 {
  border-bottom: 1px solid gray;
}

.box3 h3 {
  border-bottom: 1px solid gray;
}
