.box {
  @include span-columns(4);
  margin-top: 40px;
  border: 1px solid gray;
  height: 260px;
  background-color: light gray;
  padding: 10px;
  overflow: hidden;
  background-color: $white;

  h3 {
    border-bottom: 1px solid gray;
    margin: 10px 0;
    padding-bottom: 10px;
    text-align: left;
  }
}

.latestNews {
  position: relative;
}

.readmore {
  position: absolute;
  margin: 0;
  right: 20px;
  bottom: 3px;
  color: blue;

  &:hover{
    cursor: pointer;
    text-decoration: underline;
    color: darkblue;
  }
}

#newsContainer {

  h4 {
    float: left;
    margin: 10px 0;
  }

  h5 {
    margin: 10px 0;
    float: right;
  }
}

.newsPost {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 140px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
}

.showPost {
  text-overflow: inherit;
  overflow: scroll;
  min-height: 160px;
}

.specialDescription {
  font-size: 14px;
  margin: 5px 0;
}

#dailySpecPic img {
  display: block;
  margin: 10px auto
}

.ourLocation {
  text-align: center;

  ul {
    padding: 0;
  }

  li {
    list-style-type: circle;
    margin-left: 22px;
    float: left;

    &:first-child {
      list-style-type: none;
    }
  }
}

#streetaddress {
  margin: 15px 0;
}

#phone {
  margin: 0;
}