/************
Variables
*************/

$orange: #f06322;
$tan: #EFEFEB;
$gray: #888888;
$white: #FFFFFF;

/************
Layout
*************/

body {
  background-color: $tan;
}

.bodyContainer {
  @include outer-container;
}

.menus {
  @include span-columns(9);
}

header {
  @include outer-container;
}

.footerContainer {
  @include outer-container;
}