
/************
Layout
*************/

body {
  background-color: $tan;
  font-family: 'Bitter', serif;
}

.bodyContainer {
  @include outer-container;
}

.menus {
  @include span-columns(9);
}

header {
  @include outer-container;
}

.footerContainer {
  @include outer-container;
}

/************
Layout
*************/

@media (max-width: 1000px) {
  .bodyContainer {
    overflow-x: hidden;
  }

  .box {
    @include span-columns(10);
      @include shift(1);
    min-height: 150px;
    padding-bottom: 20px;
  }

  .foodPics {
    display: none;
  }

  .menus {
    @include span-columns(10);
      @include shift(1);
  }

  .ourLocation li {
    float: none;
    display: inline-block;
  }

  #reservation {
    width: 88%;
    padding: 10px;

    #fullName {
      width: 200px;
    }

    textarea {
      width: 200px;
    }
  }

  #story {
    width: 88%;
    padding: 10px;

    img {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  header {
    text-align: center;

    .monkLogo {
      display: none;
    }

    h1 {
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 9vw;
    }

    #monk {
      font-size: 13vw;
    }

    .socialMedia {
      float: none;
      margin-top: 0;
    }
  }

  .item {
    font-size: 3.5vw;
  }

  .price {
    font-size: 3.3vw;
    float: none;
    margin-left: 10px;
  }

  .menuButton {
    min-width: 60px;
    font-size: 12px;
  }

  .footerContainer {
    margin-left: 15px;
  }
}