html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/************
Variables
*************/
/************
Layout
*************/
.bodyContainer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.bodyContainer::after {
  clear: both;
  content: "";
  display: table; }

.menus {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }

.menus:last-child {
  margin-right: 0; }

header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

header::after {
  clear: both;
  content: "";
  display: table; }

header {
  border-bottom: 1px solid black; }

.monkLogo {
  width: 100px;
  margin: 10px 10px 0 10px; }

h1 {
  display: inline-block;
  margin: 10px; }

li {
  list-style: none; }

li a:visited {
  color: black; }

.socialMedia {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-right: 10px;
  float: right; }

.socialMedia ul {
  padding: 0; }

.socialMedia li {
  float: left;
  padding-left: 10px; }

.facebook, .twitter, .instagram {
  width: 40px;
  height: 40px; }

.jumbotron img {
  display: block;
  width: 100%;
  margin: 10px auto; }

.box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-top: 15px;
  border: 1px solid gray;
  height: 260px;
  background-color: light gray;
  padding: 11px;
  overflow: hidden; }

.box:last-child {
  margin-right: 0; }

.box h3 {
  border-bottom: 1px solid gray; }

#newsContainer p {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 140px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.specialDescription {
  font-size: 14px;
  margin: 5px 0; }

#dailySpecPic img {
  display: block;
  margin: 10px auto; }

.ourLocation ul {
  padding: 0; }

.ourLocation li {
  list-style-type: circle;
  margin-left: 22px;
  float: left; }

#streetaddress {
  margin: 15px 0; }

#phone {
  margin: 0; }

.buttonRow {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 40px 0;
  border-bottom: 1px solid lightgray; }

.menuButton {
  height: 60px;
  min-width: 100px;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-bottom: 1px solid lightgray; }

.activeButton {
  border: 1px solid lightgray;
  border-bottom: 1px solid white; }

.hideMenu {
  visibility: hidden; }

#story {
  position: absolute;
  width: 55%; }

#menu {
  margin: 20px 0;
  clear: both;
  width: 100%; }

#reservation {
  position: absolute;
  margin: 0; }

#reservation input {
  display: block;
  height: 35px;
  padding: 5px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px; }

#reservation input:focus {
  border: 1px solid black; }

#reservation #fullName {
  width: 350px; }

#reservation #numGuests {
  width: 50px; }

#reservation p {
  margin: 15px 0 5px;
  font-weight: 900; }

#reservation textarea, #reservation select {
  display: block;
  margin: 15px 0;
  outline: none;
  border: 1px solid lightgray; }

#reservation textarea:focus, #reservation select:focus {
  border: 1px solid black; }

#reservation select {
  height: 30px; }

#reservation select:focus {
  border: 1px solid black; }

#reservation #reserveTable {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease; }

#reservation #reserveTable:hover {
  background-color: black;
  color: white; }

.menuTitle {
  border-bottom: 1px solid black; }

.itemBorder {
  border-bottom: 1px dotted black; }

.item {
  display: inline-block;
  margin: 10px 0 0;
  font-weight: 700; }

.description {
  clear: both;
  font-size: 13px;
  padding-right: 20px;
  width: 80%;
  height: 45px;
  float: left;
  border-right: 1px solid lightgray; }

.price {
  display: inline-block;
  float: right;
  margin: 10px 0 0; }

.itemInfoContainer {
  display: inline-block;
  width: 100%; }

.itemInfoRow {
  padding: 0; }

.itemInfoRow li {
  float: left;
  margin: 25px 0 0 10px; }

.allergies {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_exclaim.svg);
  background-size: cover; }

.allergies:after {
  content: "Allergy Info: This item may contain shellfish or another item that some people may be allergic to. Please ask your waiter or waitress for assistance.";
  color: black;
  font-size: 13px;
  width: 300px;
  padding: 8px;
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 3px; }

.allergies:hover {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer; }

.allergies:hover:after {
  visibility: visible;
  cursor: pointer; }

.favorite {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_star.svg);
  background-size: cover; }

.favorite:after {
  content: "We have been doing this a long time and this item has become one of our favorites.";
  color: black;
  font-size: 13px;
  width: 300px;
  padding: 8px;
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 3px; }

.favorite:hover {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer; }

.favorite:hover:after {
  visibility: visible;
  cursor: pointer; }

.spicy {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_spice_cc.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.spicy:after {
  content: "This item is spicy, please handle with care and drink lots of water.";
  color: black;
  font-size: 13px;
  width: 300px;
  padding: 8px;
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 3px; }

.spicy:hover {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer; }

.spicy:hover:after {
  visibility: visible;
  cursor: pointer; }

.vegan {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_v_cc.svg);
  background-size: cover; }

.vegan:after {
  content: "This item contains no meat and has been prepared without the use of animal products.";
  color: black;
  font-size: 13px;
  width: 300px;
  padding: 8px;
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 3px; }

.vegan:hover {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer; }

.vegan:hover:after {
  visibility: visible;
  cursor: pointer; }

.foodPics {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.96686%;
  float: right;
  margin-top: 80px; }

.foodPics:last-child {
  margin-right: 0; }

.foodPics img {
  width: 200px;
  margin-bottom: 10px; }

footer {
  border-top: 1px solid black;
  font-size: .8em;
  height: 50px;
  line-height: 50px;
  clear: both; }
