html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/************
Variables
*************/
/************
Layout
*************/
body {
  background-color: #EFEFEB;
  font-family: 'Bitter', serif; }

.bodyContainer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.bodyContainer::after {
  clear: both;
  content: "";
  display: table; }

.menus {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }

.menus:last-child {
  margin-right: 0; }

header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

header::after {
  clear: both;
  content: "";
  display: table; }

.footerContainer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.footerContainer::after {
  clear: both;
  content: "";
  display: table; }

@font-face {
  font-family: "Monk Gothic";
  src: url("../fonts/Monk-Gothic.eot?") format("eot"), url("../fonts/Monk-Gothic.woff") format("woff"), url("../fonts/Monk-Gothic.ttf") format("truetype"), url("../fonts/Monk-Gothic.svg#Monk-Gothic") format("svg");
  font-weight: normal;
  font-style: normal; }

.monkLogo {
  width: 72px;
  margin: 10px 10px 0 10px; }

h1 {
  display: inline-block;
  margin: 10px;
  font-size: 40px;
  vertical-align: middle;
  margin-top: -50px; }

#monk {
  color: #f06322;
  font-family: "Monk Gothic";
  font-size: 60px;
  text-shadow: 1px 1px 0 black; }

li {
  list-style: none; }

li a:visited {
  color: black; }

.socialMedia {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  float: right; }

.socialMedia ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 8px; }

.socialMedia li {
  float: left;
  padding-left: 10px; }

.facebook, .twitter, .instagram {
  width: 40px;
  height: 40px; }

.jumbotron {
  background-image: url(../images/jumbo.jpg);
  background-size: cover;
  height: 600px;
  width: 100%; }

.jumbotron img {
  display: block;
  width: 100%;
  margin: 10px auto; }

.box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-top: 40px;
  border: 1px solid gray;
  height: 270px;
  background-color: light gray;
  padding: 10px;
  overflow: hidden;
  background-color: #FFFFFF; }

.box:last-child {
  margin-right: 0; }

.box h3 {
  border-bottom: 1px solid gray;
  margin: 10px 0;
  padding-bottom: 10px;
  text-align: left; }

.latestNews {
  position: relative; }

.readmore {
  position: absolute;
  margin: 0;
  right: 20px;
  bottom: 3px;
  color: #f06322; }

.readmore:hover {
  cursor: pointer;
  text-decoration: underline;
  color: FireBrick; }

#newsContainer h4 {
  float: left;
  margin: 10px 0; }

#newsContainer h5 {
  margin: 10px 0;
  float: right; }

.newsPost {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 140px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  clear: both; }

.showPost {
  text-overflow: inherit;
  overflow: scroll;
  min-height: 160px; }

.specialDescription {
  font-size: 14px;
  margin: 5px 0; }

#dailySpecPic img {
  display: block;
  margin: 10px auto; }

.ourLocation {
  text-align: center; }

.ourLocation ul {
  padding: 0; }

.ourLocation li {
  list-style-type: circle;
  margin-left: 22px;
  float: left; }

.ourLocation li:first-child {
  list-style-type: none; }

#streetaddress {
  margin: 15px 0; }

#phone {
  margin: 0; }

.mapphone {
  color: #f06322;
  text-decoration: none; }

.mapphone:hover {
  cursor: pointer;
  text-decoration: underline;
  color: FireBrick; }

.buttonRow {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 40px 0 0;
  border-bottom: 1px solid lightgray; }

.menuButton {
  height: 60px;
  min-width: 100px;
  background: transparent;
  outline: none;
  border: 1px solid #EFEFEB;
  border-bottom: 1px solid lightgray; }

.activeButton {
  background-color: #FFFFFF;
  border: 1px solid lightgray;
  border-bottom: 1px solid white; }

.hideMenu {
  visibility: hidden; }

#story {
  position: absolute;
  width: 56.25%;
  margin: 0;
  background-color: #FFFFFF;
  padding: 30px; }

#menu {
  margin: 0;
  margin-bottom: 30px;
  clear: both;
  width: 100%;
  background-color: #FFFFFF; }

.menuContainer {
  padding: 30px;
  padding-bottom: 0; }

.menuSection {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray; }

#reservation {
  position: absolute;
  width: 56.25%;
  margin: 0;
  background-color: #FFFFFF;
  padding: 30px; }

#reservation input {
  display: block;
  height: 35px;
  padding: 5px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px; }

#reservation input:focus {
  border: 1px solid black; }

#reservation #fullName {
  width: 350px; }

#reservation #numGuests {
  width: 50px; }

#reservation p {
  margin: 15px 0 5px;
  font-weight: 900; }

#reservation textarea, #reservation select {
  display: block;
  margin: 15px 0;
  outline: none;
  border: 1px solid lightgray; }

#reservation textarea:focus, #reservation select:focus {
  border: 1px solid black; }

#reservation select {
  height: 30px; }

#reservation select:focus {
  border: 1px solid black; }

#reservation #reserveTable {
  background-color: white;
  color: #f06322;
  border: 1px solid #f06322;
  transition: all 0.3s ease; }

#reservation #reserveTable:hover {
  background-color: #f06322;
  color: white; }

.menuTitle {
  margin: 0;
  border-bottom: 1px solid black; }

.itemBorder {
  border-bottom: 1px dotted black; }

.item {
  display: inline-block;
  margin: 10px 0 0;
  font-weight: 700; }

.description {
  color: #888888;
  clear: both;
  font-size: 13px;
  padding-right: 20px;
  width: 80%;
  height: 45px;
  float: left;
  border-right: 1px solid lightgray; }

.price {
  display: inline-block;
  float: right;
  margin: 10px 0 0; }

.itemInfoContainer {
  display: inline-block;
  width: 100%; }

.itemInfoRow {
  padding: 0; }

.itemInfoRow li {
  float: left;
  margin: 25px 0 0 10px; }

.allergies {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_exclaim.svg);
  background-size: cover; }

.allergies:after {
  content: "Allergy Info: This item may contain shellfish or another item that some people may be allergic to. Please ask your waiter or waitress for assistance.";
  color: black;
  font-size: 13px;
  width: 300px;
  padding: 8px;
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  background-color: #EFEFEB;
  border: 1px solid lightgray;
  border-radius: 3px; }

.allergies:hover {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer; }

.allergies:hover:after {
  visibility: visible;
  cursor: pointer; }

.favorite {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_star.svg);
  background-size: cover; }

.favorite:after {
  content: "We have been doing this a long time and this item has become one of our favorites.";
  color: black;
  font-size: 13px;
  width: 300px;
  padding: 8px;
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  background-color: #EFEFEB;
  border: 1px solid lightgray;
  border-radius: 3px; }

.favorite:hover {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer; }

.favorite:hover:after {
  visibility: visible;
  cursor: pointer; }

.spicy {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_spice_cc.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.spicy:after {
  content: "This item is spicy, please handle with care and drink lots of water.";
  color: black;
  font-size: 13px;
  width: 300px;
  padding: 8px;
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  background-color: #EFEFEB;
  border: 1px solid lightgray;
  border-radius: 3px; }

.spicy:hover {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer; }

.spicy:hover:after {
  visibility: visible;
  cursor: pointer; }

.vegan {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_v_cc.svg);
  background-size: cover; }

.vegan:after {
  content: "This item contains no meat and has been prepared without the use of animal products.";
  color: black;
  font-size: 13px;
  width: 300px;
  padding: 8px;
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  background-color: #EFEFEB;
  border: 1px solid lightgray;
  border-radius: 3px; }

.vegan:hover {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer; }

.vegan:hover:after {
  visibility: visible;
  cursor: pointer; }

.foodPics {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.96686%;
  float: right;
  margin-top: 80px; }

.foodPics:last-child {
  margin-right: 0; }

.foodPics img {
  width: 200px;
  margin-bottom: 10px; }

footer {
  border-top: 1px solid black;
  height: 50px;
  line-height: 50px; }
