html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.bodyContainer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.bodyContainer::after {
  clear: both;
  content: "";
  display: table; }

header {
  border-bottom: 1px solid black; }

.monkLogo {
  width: 150px; }

h1 {
  display: inline-block; }

li {
  list-style: none; }

.socialMedia {
  display: inline-block;
  text-align: center;
  float: right; }

.socialMedia li {
  float: left; }

.facebook {
  width: 20px;
  height: 20px; }

.twitter {
  width: 20px;
  height: 20px; }

.instagram {
  width: 20px;
  height: 20px; }

footer {
  border-top: 1px solid black;
  font-size: .8em; }

.box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-top: 15px;
  border: 1px solid gray;
  height: 260px;
  background-color: light gray;
  padding: 11px;
  overflow: hidden; }

.box:last-child {
  margin-right: 0; }

.box h3 {
  border-bottom: 1px solid gray; }

#newsContainer p {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 140px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.box3 span {
  text-align: center; }

.menus {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }

.menus:last-child {
  margin-right: 0; }

.buttonRow {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 40px 0;
  border-bottom: 1px solid lightgray; }

.menuButton {
  height: 60px;
  min-width: 100px;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-bottom: 1px solid lightgray; }

.activeButton {
  border: 1px solid lightgray;
  border-bottom: 1px solid white; }

.hideMenu {
  visibility: hidden; }

#story {
  position: absolute;
  width: 55%; }

#menu {
  margin: 20px 0;
  height: 400px;
  width: 100%; }

#reservation {
  position: absolute;
  margin: 20px 0; }

#reservation input {
  display: block;
  height: 35px;
  padding: 5px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px; }

#reservation input:focus {
  border: 1px solid black; }

#reservation #fullName {
  width: 350px; }

#reservation #numGuests {
  width: 50px; }

#reservation p {
  margin: 15px 0 5px;
  font-weight: 900; }

#reservation textarea, #reservation select {
  display: block;
  margin: 15px 0;
  outline: none;
  border: 1px solid lightgray; }

#reservation textarea:focus, #reservation select:focus {
  border: 1px solid black; }

#reservation select {
  height: 30px; }

#reservation select:focus {
  border: 1px solid black; }

#reservation #reserveTable {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease; }

#reservation #reserveTable:hover {
  background-color: black;
  color: white; }

.item {
  float: left;
  border-bottom: 1px solid bottom; }

.description {
  clear: both; }

.price {
  float: right; }

.foodPics {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.96686%;
  background-color: red;
  float: right;
  margin: 40px 0; }

.foodPics:last-child {
  margin-right: 0; }
