html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.bodyContainer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .bodyContainer::after {
    clear: both;
    content: "";
    display: table; }
<<<<<<< HEAD
=======

header {
  border-bottom: 1px solid black; }

h1 {
  display: inline-block; }

li {
  list-style: none; }

.socialMedia {
  display: inline-block;
  text-align: center;
  float: right; }

.socialMedia li {
  float: left; }

.facebook {
  width: 20px;
  height: 20px; }

.twitter {
  width: 20px;
  height: 20px; }

.instagram {
  width: 20px;
  height: 20px; }

footer {
  border-top: 1px solid black;
  font-size: .8em; }
>>>>>>> bc66eeadab30b6415a427ebb594d2e5f77805c2c

.box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  border: 1px solid gray;
  background-color: lightgray;
  padding: 11px; }
  .box:last-child {
    margin-right: 0; }
<<<<<<< HEAD

.news {
  border-bottom: 1px solid gray; }
=======
>>>>>>> bc66eeadab30b6415a427ebb594d2e5f77805c2c

.special {
  border-bottom: 1px solid gray; }

.location {
  border-bottom: 1px solid gray; }

.box1 h3 {
  margin-left: 10px; }

.box1 p {
  margin-left: 10px; }

.box2 h3 {
  margin-left: 10px; }

.box2 p {
  margin-left: 10px; }

.box3 h3 {
  margin-left: 10px; }

.box1 h4 {
  display: inline-block;
  padding-top: 12px;
  margin-left: 10px; }

.box2 h4 {
  margin-left: 10px; }

.date {
  float: right; }

.box2 img {
  padding-top: 14px;
  margin-left: 10px; }

.box3 img {
  padding-top: 14px;
  margin-left: 10px; }

.menu {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .menu:last-child {
    margin-right: 0; }

.buttonRow {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 40px 0;
  border-bottom: 1px solid lightgray; }

.menuButton {
  height: 60px;
  min-width: 100px;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-bottom: 1px solid lightgray; }

.activeButton {
  border: 1px solid lightgray;
  border-bottom: 1px solid white; }

.hideMenu {
  visibility: hidden; }

#story {
  position: absolute;
  width: 55%; }

#menu {
  margin: 20px 0;
  height: 400px;
  width: 100%; }

#reservation {
  position: absolute;
  margin: 20px 0; }
  #reservation input {
    display: block;
    height: 35px;
    padding: 5px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px; }
    #reservation input:focus {
      border: 1px solid black; }
  #reservation #fullName {
    width: 350px; }
  #reservation #numGuests {
    width: 50px; }
  #reservation p {
    margin: 15px 0 5px;
    font-weight: 900; }
  #reservation textarea, #reservation select {
    display: block;
    margin: 15px 0;
    outline: none;
    border: 1px solid lightgray; }
    #reservation textarea:focus, #reservation select:focus {
      border: 1px solid black; }
  #reservation select {
    height: 30px; }
    #reservation select:focus {
      border: 1px solid black; }
  #reservation #reserveTable {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease; }
    #reservation #reserveTable:hover {
      background-color: black;
      color: white; }
