
.buttonRow {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 40px 0 0;
  top: 1px;
  z-index: 100;
}

.menuButton {
  height: 60px;
  min-width: 100px;
  background: transparent;
  outline: none;
  border: 1px solid $tan;
  border-bottom: 1px solid lightgray;
}

.activeButton {
  background-color: $white;
  border: 1px solid lightgray;
  border-bottom: 1px solid white;
}

.hideMenu {
  visibility: hidden;
}

#story {
  position: absolute;
  width: 56.25%;
  margin: 0;
  background-color: $white;
  padding: 30px;
  border: 1px solid lightgray;
}

#menu {
  margin: 0;
  margin-bottom: 30px;
  clear: both;
  width: 100%;
  background-color: $white;
  border: 1px solid lightgray;
}

.menuContainer {
  padding: 30px;
  padding-bottom: 0;
}

#reservation {
  position: absolute;
  width: 56.25%;
  margin: 0;
  background-color: $white;
  padding: 30px;
  border: 1px solid lightgray;

  input {
    display: block;
    height: 35px;
    padding: 5px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;

    &:focus {
      border: 1px solid black;
    }
  }

  #fullName {
    width: 350px;
  }

  #numGuests {
    width: 50px;
  }

  p {
    margin: 15px 0 5px;
    font-weight: 900;
  }

  textarea {
    display: block;
    margin: 15px 0;
    outline: none;
    border: 1px solid lightgray;

    &:focus {
      border: 1px solid black;
    }
  }

  select {
    @extend textarea;
    height: 30px;

    &:focus {
      border: 1px solid black;
    }
  }

  #reserveTable {
    background-color: white;
    color: $orange;
    border: 1px solid $orange;
    transition: all 0.3s ease;

    &:hover {
      background-color: $orange;
      color: white;
    }
  }
}

.menuTitle {
  margin: 0;
  border-bottom: 2px solid $orange;
}

.itemBorder {
  border-bottom: 1px dotted black;
}

.item {
  display: inline-block;
  margin: 10px 0 0;
  font-weight: 700;
}

.description {
  color: $gray;
  clear: both;
  font-size: 13px;
  padding-right: 20px;
  width: 80%;
  height: 45px;
  float: left;
  border-right: 1px solid lightgray;
}

.price {
  display: inline-block;
  float: right;
  margin: 10px 0 0;
}

.itemInfoContainer {
  display: inline-block;
  width: 100%;
}

.itemInfoRow {
  padding: 0;

  li {
    float: left;
    margin: 25px 0 0 10px;
  }
}

.allergies {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_exclaim.svg);
  background-size: cover;

  &:after {
    content: "Allergy Info: This item may contain shellfish or another item that some people may be allergic to. Please ask your waiter or waitress for assistance.";
    color: black;
    font-size: 13px;
    width: 300px;
    padding: 8px;
    position: absolute;
    top: 25px;
    left: 0;
    visibility: hidden;
    background-color: $tan;
    border: 1px solid lightgray;
    border-radius: 3px;
  }

  &:hover {
    border: 1px solid $orange;
    border-radius: 3px;
    cursor: pointer;
  }

  &:hover:after {
    visibility: visible;
    cursor: pointer;
  }
}

.favorite {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_star.svg);
  background-size: cover;

  &:after {
    content: "We have been doing this a long time and this item has become one of our favorites.";
    color: black;
    font-size: 13px;
    width: 300px;
    padding: 8px;
    position: absolute;
    top: 25px;
    left: 0;
    visibility: hidden;
    background-color: $tan;
    border: 1px solid lightgray;
    border-radius: 3px;
  }

  &:hover {
    border: 1px solid $orange;
    border-radius: 3px;
    cursor: pointer;
  }

  &:hover:after {
    visibility: visible;
    cursor: pointer;
  }
}

.spicy {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_spice_cc.svg);
  background-size: contain;
  background-repeat: no-repeat;

  &:after {
    content: "This item is spicy, please handle with care and drink lots of water.";
    color: black;
    font-size: 13px;
    width: 300px;
    padding: 8px;
    position: absolute;
    top: 25px;
    left: 0;
    visibility: hidden;
    background-color: $tan;
    border: 1px solid lightgray;
    border-radius: 3px;
  }

  &:hover {
    border: 1px solid $orange;
    border-radius: 3px;
    cursor: pointer;
  }

  &:hover:after {
    visibility: visible;
    cursor: pointer;
  }
}

.vegan {
  position: relative;
  height: 20px;
  width: 20px;
  color: transparent;
  background-image: url(../images/noun_v_cc.svg);
  background-size: cover;

  &:after {
    content: "This item contains no meat and has been prepared without the use of animal products.";
    color: black;
    font-size: 13px;
    width: 300px;
    padding: 8px;
    position: absolute;
    top: 25px;
    left: 0;
    visibility: hidden;
    background-color: $tan;
    border: 1px solid lightgray;
    border-radius: 3px;
  }

  &:hover {
    border: 1px solid $orange;
    border-radius: 3px;
    cursor: pointer;
  }

  &:hover:after {
    visibility: visible;
    cursor: pointer;
  }
}
